In [1]:
capitals = {
"South Korea": "Seoul",
"USA": "Washington D.C.",
"Japan": "Tokyo",
"Germany": "Berlin"
}
print(capitals["South Korea"])

Seoul

In [5]:
library = {
"books": {
"001": {
"title": "Python for Beginners",
"author": "A. Developer"
},
"002": {
"title": "Advanced Python Programming",
"author": "B. Expert"}
}
}
print(library["books"]["002"]["author"])

B. Expert

In [7]:
menu = {
"Coffee": 3.99,
"Latte": 4.50,
"Espresso": 2.99
}
# add
menu["Cappuccino"] = 4.25
print(menu)

{'Coffee': 3.99, 'Latte': 4.5, 'Espresso': 2.99, 'Cappuccino': 4.25}

In [16]:
library = {
"books": {
"001": {
"title": "Python for Beginners",
"author": "A. Developer"
},
"002": {
"title": "Advanced Python Programming",
"author": "B. Expert"}
}
}
library["books"]["003"]["title"] = "C. Scientist"
print(library)

KeyError: '003'

In [17]:
library = {
    "books": {
        "001": {
            "title": "Python for Beginners",
            "author": "A. Developer"
        },
        "002": {
            "title": "Advanced Python Programming",
            "author": "B. Expert"
        }
    }
}

# 새로운 책 정보를 삽입
library["books"]["003"] = {
    "title": "Machine Learning Basics",
    "author": "C. Scientist"
}

print(library)

{'books': {'001': {'title': 'Python for Beginners', 'author': 'A. Developer'}, '002': {'title': 'Advanced Python Programming', 'author': 'B. Expert'}, '003': {'title': 'Machine Learning Basics', 'author': 'C. Scientist'}}}

In [19]:
library = {
"001": {
"title": "Python for Beginners",
"author": "A. Developer"
},
"002": {
"title": "Advanced Python Programming",
"author": "B. Expert"
}
}
library["003"] = {
    "title" : "Data Science Fundamentals",
    "author": "C. Scientist"
}
library

{'001': {'title': 'Python for Beginners', 'author': 'A. Developer'},
 '002': {'title': 'Advanced Python Programming', 'author': 'B. Expert'},
 '003': {'title': 'Data Science Fundamentals', 'author': 'C. Scientist'}}

In [20]:
student_scores = {
"Yeonghee": [90, 85, 88],
"Cheolsu": [78, 92, 95],
"Minsu": [88, 76, 64]
}
student_scores["Yeonghee"].append(92)
print(student_scores)

{'Yeonghee': [90, 85, 88, 92], 'Cheolsu': [78, 92, 95], 'Minsu': [88, 76, 64]}

In [21]:
list_eg = ['apple', 'banana', 'cherry']
dict_eg = {}
for item in list_eg:
    dict_eg[item] = len(item)
dict_eg

{'apple': 5, 'banana': 6, 'cherry': 6}

In [9]:
eg = ['Alice', 'Bob', 'Alice', 'Charlie']
out = {}
for items in (eg):
    out[items] = eg.count(items)
out

{'Alice': 2, 'Bob': 1, 'Charlie': 1}

In [136]:
list_eg = ['apple', 'banana', 'cherry', 'apricot']
divison = {}
for fruit in list_eg:
    first = fruit[0]
    if first not in divison:
        divison[first] = []
    divison[first].append(fruit)
divison

{'a': ['apple', 'apricot'], 'b': ['banana'], 'c': ['cherry']}

In [12]:
book = {}
book = {
    "title" : "basic programming",
    "author" : "Yoon Python",
    "publication year" : 2023
}
book["publication year"] = 2024
del book["author"]
print(book)

{'title': 'basic programming', 'publication year': 2024}

In [13]:
book["title"].title()

'Basic Programming'

In [15]:
book = {
    "title" : "basic programming",
    "author" : "Yoon Python",
    "publication year" : 2023
}
del book["author"]
author_info = book.get('author', 'no author info')
print(author_info)
print(book.get('title'))

no author info
basic programming

In [16]:
d = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
new = {}
for key, value in d.items():
    if value > 2:
        new[key] = value
new

{'c': 3, 'd': 4}

In [18]:
new = {}
for key, value in d.items():
    new[value] = key
new

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

In [29]:
a = ["uiij"]
b = ["jiiu"]
print(a==sorted(b)[::-1])
print(sorted(b)[::-1])

False
['jiiu']

In [40]:
a = ["uiij", "jiiu"]
a[0] == a[1][::-1]

True

In [52]:
a.index("uiij")

0

In [74]:
a = ["uii j", "jiiu"]
new = a[0].replace(" ", "")
new

'uiij'

In [92]:
a = ["first", "second"]
print(" ".join(a))
print("i".join(a))
print("".join(a))

first second
firstisecond
firstsecond

In [93]:
a = [1, "second"]
print(" ".join(a))
print("i".join(a))
print("".join(a))

TypeError: sequence item 0: expected str instance, int found

In [84]:
a.replace(" ", "")

'uiij'

In [96]:
a = ["Birst", "second", "A"]
a.sort()
a

['A', 'Birst', 'second']

In [97]:
a.sort(reverse=True)
a

['second', 'Birst', 'A']

In [99]:
a = ["Birst", "second", "A"]
a[::-1]

['A', 'second', 'Birst']

In [100]:
a

['Birst', 'second', 'A']

In [103]:
sorted(a)[::-1]

['second', 'Birst', 'A']

In [104]:
reversed(a)

In [106]:
a = "uiij"
b = "jiiu"
a.lower() == b.lower()[::-1]

True

In [107]:
a = "Listen"
b = "Sline  t"
if " " in b:
    no_space_b = b.replace(" ", "")
print(b, no_space_b)

Sline  t Slinet

In [111]:
sorted(a.lower()) == sorted(no_space_b.lower())

True

In [112]:
a.reverse()

AttributeError: 'str' object has no attribute 'reverse'

In [119]:
def findQuadrant(x, y):
    if x<0 & y<0:
        return 3
    elif x<0 & y>0:
        return 2
    elif x>0 & y>0:
        return 1
    elif x>0 & y<0:
        return 4
    else:
        return

print(findQuadrant(1, -1000))

None

파이썬에서 집합 연산을 수행하는 방법을 설명하겠습니다. 이 연산들은 주로 `set` 자료형을 사용하여 수행됩니다.

### 1. Union (합집합) `|`
합집합은 두 집합의 모든 원소를 포함하는 집합입니다. 중복되는 원소는 한 번만 포함됩니다.

```python
set1 = {1, 2, 3}
set2 = {3, 4, 5}

union_set = set1 | set2
print(union_set)  # 출력: {1, 2, 3, 4, 5}
```

또는 `union` 메서드를 사용할 수도 있습니다:

```python
union_set = set1.union(set2)
print(union_set)  # 출력: {1, 2, 3, 4, 5}
```

### 2. Difference (차집합) `-`
차집합은 첫 번째 집합에서 두 번째 집합의 원소를 뺀 나머지 원소들로 구성된 집합입니다.

```python
set1 = {1, 2, 3}
set2 = {3, 4, 5}

difference_set = set1 - set2
print(difference_set)  # 출력: {1, 2}
```

또는 `difference` 메서드를 사용할 수도 있습니다:

```python
difference_set = set1.difference(set2)
print(difference_set)  # 출력: {1, 2}
```

### 3. Intersection (교집합) `&`
교집합은 두 집합에 모두 속하는 원소들로 구성된 집합입니다.

```python
set1 = {1, 2, 3}
set2 = {3, 4, 5}

intersection_set = set1 & set2
print(intersection_set)  # 출력: {3}
```

또는 `intersection` 메서드를 사용할 수도 있습니다:

```python
intersection_set = set1.intersection(set2)
print(intersection_set)  # 출력: {3}
```

### 4. Symmetric Difference (대칭 차집합) `^`
대칭 차집합은 두 집합 중 어느 한쪽에만 속하는 원소들로 구성된 집합입니다. 즉, 한 집합에는 있지만 다른 집합에는 없는 원소들로 구성됩니다.

```python
set1 = {1, 2, 3}
set2 = {3, 4, 5}

symmetric_difference_set = set1 ^ set2
print(symmetric_difference_set)  # 출력: {1, 2, 4, 5}
```

또는 `symmetric_difference` 메서드를 사용할 수도 있습니다:

```python
symmetric_difference_set = set1.symmetric_difference(set2)
print(symmetric_difference_set)  # 출력: {1, 2, 4, 5}
```

### 요약
파이썬에서 집합 연산을 수행하는 방법을 정리하면 다음과 같습니다:

- **합집합**: `|` 또는 `union()`
- **차집합**: `-` 또는 `difference()`
- **교집합**: `&` 또는 `intersection()`
- **대칭 차집합**: `^` 또는 `symmetric_difference()`

이 연산들은 모두 `set` 자료형의 메서드 또는 연산자를 통해 쉽게 수행할 수 있습니다.

In [125]:
x = {1, 2, 3}
y = {4, 5, 2}
x.union(y)

{1, 2, 3, 4, 5}

In [126]:
x | y

{1, 2, 3, 4, 5}

In [127]:
x ^ y

{1, 3, 4, 5}

In [129]:
x - y

{1, 3}

In [131]:
x.difference(y)

{1, 3}

In [132]:
x & y

{2}

In [133]:
x.intersection(y)

{2}

In [137]:
a = {'a': 1, 'b': 2, 'c': 3}
b = {'b': 2, 'c': 4, 'd': 3}
intersected = {}
for key, value in a.items():
    for k, v in b.items():
        if key == k and value == v:
            intersected[key] = value
intersected

{'b': 2}

In [138]:
a.keys()

dict_keys(['a', 'b', 'c'])

In [140]:
key_list = list(b.keys())
key_list

['b', 'c', 'd']

In [142]:
a = {'a': 1, 'b': 2, 'c': 3}
b = {'b': 2, 'c': 4, 'd': 3}
intersected = {}
if a.keys() & b.keys():
    inter_key_list = list(a.keys() & b.keys())
    for key in inter_key_list:
        if a[key] == b[key]:
            intersected[key] = a[key]
intersected

{'b': 2}

In [143]:
a.keys() ^ b.keys()

{'a', 'd'}

In [145]:
print(sorted(b.keys(), reverse=True))

['d', 'c', 'b']

In [148]:
print(sorted(b.keys())[::-1])

['d', 'c', 'b']

In [149]:
a =[1, 2, 3, 4, 5]
b =[4, 5, 6, 7, 8]
set(a) & set(b)

{4, 5}

In [153]:
a = {'a': 1, 'b': 2, 'c': 1, 'd': 3}
new = {}

for key, value in a.items():
    if value in new.values():
        continue
    new[key] = value

print(new)

{'a': 1, 'b': 2, 'd': 3}

In [154]:
a = set({1, 2, 3})
b = set({2, 3, 4})
a ^ b

{1, 4}

12

In [161]:
st = 'ababc'
st_set = set()
for i in range(len(st)):
    make_st = ''
    for j in range(i, len(st)):
        make_st += st[j]
        st_set.add(make_st)
print(sorted(st_set))
len(st_set)

['a', 'ab', 'aba', 'abab', 'ababc', 'abc', 'b', 'ba', 'bab', 'babc', 'bc', 'c']

12

In [168]:
def find_leaf_paths(dictionary, parent_key=''):
    paths = []
    for key, value in dictionary.items():
        current_key = f"{parent_key}.{key}" if parent_key else key
        if isinstance(value, dict):
            paths.extend(find_leaf_paths(value, current_key))
        else:
            paths.append(current_key)
    return paths

# Example input
input_dict = {'a': {'b': 1, 'c': 2}, 'd': {'e': {'f': 3}}}

# Generate list of paths to leaf values
output_paths = find_leaf_paths(input_dict)

# Print the result
print(output_paths)  # Output: ['a.b', 'a.c', 'd.e.f']

['a.b', 'a.c', 'd.e.f']

In [173]:
def count_items(x : list) :
    empty_dict = {}
    for i in x :
        if empty_dict.get(i) == None :
            empty_dict[i] = 1
    return empty_dict

x = [2, 3, 4, 1, 2, 5]
print(count_items(x))

{2: 1, 3: 1, 4: 1, 1: 1, 5: 1}

In [180]:
def koreanGame():
    for i in range(1,100):
        if i % 3 ==0:
            print(i)

In [198]:
def leaf_value(dic, parent_key=''):
    leaf_list = []
    for key, val in dic.items():
        current_leaf = f"{parent_key}.{key}" if parent_key else key # 이 전에 부모가 없으면 그냥 현재 key가 젤 부모지
        if isinstance(val, dict):
            leaf_list.extend(leaf_value(val, current_leaf))
        else:
            leaf_list.append(current_leaf)
    return leaf_list

In [199]:
input_dict = {'a': {'b': 1, 'c': 2}, 'd': {'e': {'f': 3}}}
print(leaf_value(input_dict))

['a.b', 'a.c', 'd.e.f']

In [1]:
d = {'player1': 24, 'player2': 47, 'player3': 32}
high = max(list(d.values()))
for player in d.keys():
    if d[player] == int(high):
        print(player)

player2