In [1]:
number_list = [6, 4, 7, 11, 2]
sum = 0
for num in number_list:
    sum += num
print(sum)

30

In [7]:
def sep(s):
    for i in s:
        print(i)
    return 1
sep('python')

p
y
t
h
o
n

1

In [11]:
def twice(s):
    new = []
    for i in s:
        new += str(i * 2)
    new = ''.join(new)
    return new
twice('python')

'ppyytthhoonn'

In [13]:
hi = 'python hehe'
print(f'{hi.title()}')

Python Hehe

In [14]:
print(hi.capitalize())

Python hehe

In [16]:
hi.swapcase()

'PYTHON HEHE'

In [19]:
def factorial(i):
    result = 1
    for n in range(i):
        result *= (n+1)
    return result

In [20]:
factorial(5)

120

In [23]:
def enumer(l):
    for idx, element in enumerate(l):
        print(f'Index: {idx}, Fruit: {element}')

In [24]:
enumer(["apple", "banana", "cherry", "date"])

Index: 0, Fruit: apple
Index: 1, Fruit: banana
Index: 2, Fruit: cherry
Index: 3, Fruit: date

In [27]:
for i in range(1, 6):
    print("*" * i)

*
**
***
****
*****

In [42]:
def Fibonacci(s):
    result = []
    result += s    
    for i in range(8):
        result.append(result[i] + result[i+1])
    return result

In [43]:
seq = [0,1]
Fibonacci(seq)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [44]:
# Initialize the first two numbers of the Fibonacci sequence
Fibonacci_sequence = [0, 1]

# Generate Fibonacci sequence up to the 10th number
while len(Fibonacci_sequence) < 10:
    # Calculate the next Fibonacci number
    next_number = Fibonacci_sequence[-1] + Fibonacci_sequence[-2]
    # Append the next Fibonacci number to the sequence
    Fibonacci_sequence.append(next_number)

# Print the generated Fibonacci sequence
print("Fibonacci sequence:", Fibonacci_sequence)

Fibonacci sequence: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [48]:
num = list(range(1, 10, 3))

In [49]:
print(num)

[1, 4, 7]

In [52]:
new = list(range(1, 30, 4))
new

[1, 5, 9, 13, 17, 21, 25, 29]

In [53]:
neg = list(range(10, 0, -1))
neg

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [84]:
def mirror(s):
    l = []
    for num in s:
        l.append(num)
    l.reverse()
    mirror_re = ''.join(l)
    return s + mirror_re

In [85]:
mirror('abc')

'abccba'

In [86]:
s = 'abc'
s[::-1]

'cba'

In [109]:
def Squre(n):
    n = int(n)
    sqr = []
    for i in range(1, n+1):
        sqr += [(i ** 2)]
    return sqr

In [110]:
Squre(10)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [100]:
def Square(n):
    n = int(n)
    sqr = []
    for i in range(1, n + 1):  
        sqr.append(i ** 2)    
    return sqr

Square(10)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [116]:
squares = [value**2 for value in range(1, 11)]

In [117]:
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [118]:
def multiplyIndex(l):
    return [i*num for i, num in enumerate(l)]

In [120]:
multiplyIndex([1,2,3,4,5])

[0, 2, 6, 12, 20]

In [121]:
def Celsius(l):
    return [(f-32) * 5/9 for f in l]

In [122]:
Celsius([20,34,45,32,28,50])

[-6.666666666666667,
 1.1111111111111112,
 7.222222222222222,
 0.0,
 -2.2222222222222223,
 10.0]

In [123]:
str = "20240319#Sunny Day at the Beach@95"

In [130]:
date = str[:str.find("#")]
event = str[str.find("#")+1 : str.index("@")]
rating = str[str.index("@") + 1:]
print(date, event, rating)

20240319 Sunny Day at the Beach 95

In [133]:
months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
print(months[months.index("June")])

June

In [3]:
hourly_temperatures= [68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90]

In [4]:
def averageTemp(temp):
    half_num = len(temp) // 2
    half = temp[:half_num]
    print(half)
    average = sum(half) / len(half)
    return average

In [5]:
averageTemp(hourly_temperatures)

[68, 70, 72, 74, 76, 78]

73.0

In [6]:
max(hourly_temperatures)

90

In [9]:
def copyList(l):
    ori = list(l)
    copy = ori[:]
    copy.append(4)
    copy += [5]
    return ori, copy

In [11]:
copyList([1,2,3])

([1, 2, 3], [1, 2, 3, 4, 5])

In [13]:
tup = (1)
tup

1

In [14]:
tup = (1,)
tup

(1,)

In [15]:
data_tuple = (42, "Python", (8, 16), "Tutorial", 3.14)

In [21]:
print(data_tuple[0])
cal = data_tuple[2][0] + data_tuple[2][1]
len_4 = len(data_tuple[3])
print(cal)
print(len_4)

42
24
8

In [22]:
product = data_tuple[0] * data_tuple[-1]

In [23]:
product

131.88

In [24]:
del data_tuple[0]

TypeError: 'tuple' object doesn't support item deletion

In [ ]:
del data_tuple[0]